<a href="/">Home</a>
<h1> Add user</h1>
<form action="/add_user" method="POST">
    <input type="text" placeholder="Nom" name="lastname">
    <input type="text" placeholder="Prénom" name="name">
    <input type="text" placeholder="Mail" name="email">
    <button type="submit"> Piou piou</button>
</form>